--
-- PostgreSQL database dump
--

\restrict BJ7SrKNIAMmEm7TooMcEt1zjzBCJvjnhyCxWsH5ZXXMVvwWzHdaDTzxwSAW3JKu

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: api_keys; Type: TABLE; Schema: public; Owner: swarm
--

CREATE TABLE public.api_keys (
    id character varying NOT NULL,
    key character varying NOT NULL,
    user_id character varying,
    name character varying NOT NULL,
    scope character varying,
    is_active boolean,
    last_used_at timestamp without time zone,
    expires_at timestamp without time zone,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.api_keys OWNER TO swarm;

--
-- Name: company_tenants; Type: TABLE; Schema: public; Owner: swarm
--

CREATE TABLE public.company_tenants (
    id character varying NOT NULL,
    slug character varying,
    name character varying,
    subdomain character varying,
    status character varying,
    vm_id character varying,
    container_id character varying,
    box_url character varying,
    metadata_json text,
    last_error text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.company_tenants OWNER TO swarm;

--
-- Name: deployments; Type: TABLE; Schema: public; Owner: swarm
--

CREATE TABLE public.deployments (
    id character varying NOT NULL,
    tenant_id character varying,
    status character varying,
    strategy character varying,
    version character varying,
    metadata_json text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.deployments OWNER TO swarm;

--
-- Name: leads; Type: TABLE; Schema: public; Owner: swarm
--

CREATE TABLE public.leads (
    id character varying NOT NULL,
    email character varying,
    name character varying,
    company character varying,
    status character varying,
    metadata_json text,
    created_at timestamp without time zone,
    website character varying,
    linkedin_url character varying,
    intent_score integer,
    needs_review boolean,
    email_invalid boolean
);


ALTER TABLE public.leads OWNER TO swarm;

--
-- Name: message_threads; Type: TABLE; Schema: public; Owner: swarm
--

CREATE TABLE public.message_threads (
    id character varying NOT NULL,
    subject character varying NOT NULL,
    participants_json text NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.message_threads OWNER TO swarm;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: swarm
--

CREATE TABLE public.messages (
    id character varying NOT NULL,
    thread_id character varying NOT NULL,
    sender_id character varying NOT NULL,
    content text NOT NULL,
    is_read boolean,
    created_at timestamp without time zone
);


ALTER TABLE public.messages OWNER TO swarm;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: swarm
--

CREATE TABLE public.notifications (
    id character varying NOT NULL,
    user_id character varying NOT NULL,
    type character varying,
    title character varying NOT NULL,
    message text NOT NULL,
    is_read boolean,
    metadata_json text,
    created_at timestamp without time zone
);


ALTER TABLE public.notifications OWNER TO swarm;

--
-- Name: ticket_comments; Type: TABLE; Schema: public; Owner: swarm
--

CREATE TABLE public.ticket_comments (
    id character varying NOT NULL,
    ticket_id character varying NOT NULL,
    user_id character varying NOT NULL,
    content text NOT NULL,
    created_at timestamp without time zone
);


ALTER TABLE public.ticket_comments OWNER TO swarm;

--
-- Name: ticket_history; Type: TABLE; Schema: public; Owner: swarm
--

CREATE TABLE public.ticket_history (
    id character varying NOT NULL,
    ticket_id character varying NOT NULL,
    user_id character varying,
    action character varying NOT NULL,
    old_value text,
    new_value text,
    created_at timestamp without time zone
);


ALTER TABLE public.ticket_history OWNER TO swarm;

--
-- Name: tickets; Type: TABLE; Schema: public; Owner: swarm
--

CREATE TABLE public.tickets (
    id character varying NOT NULL,
    project_id character varying,
    department character varying,
    title character varying,
    instruction text,
    status character varying,
    created_at timestamp without time zone,
    priority character varying,
    assignee_id character varying,
    reporter_id character varying,
    due_date timestamp without time zone,
    resolved_at timestamp without time zone,
    sla_hours integer,
    tags character varying,
    parent_ticket_id character varying,
    estimated_hours double precision,
    actual_hours double precision
);


ALTER TABLE public.tickets OWNER TO swarm;

--
-- Name: usage_events; Type: TABLE; Schema: public; Owner: swarm
--

CREATE TABLE public.usage_events (
    id character varying NOT NULL,
    project_id character varying,
    event_type character varying,
    amount character varying,
    metadata_json text,
    created_at timestamp without time zone
);


ALTER TABLE public.usage_events OWNER TO swarm;

--
-- Name: users; Type: TABLE; Schema: public; Owner: swarm
--

CREATE TABLE public.users (
    id character varying NOT NULL,
    email character varying NOT NULL,
    password_hash character varying NOT NULL,
    full_name character varying NOT NULL,
    role character varying,
    subscription_tier character varying,
    is_active boolean,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.users OWNER TO swarm;

--
-- Name: workflow_steps; Type: TABLE; Schema: public; Owner: swarm
--

CREATE TABLE public.workflow_steps (
    id character varying NOT NULL,
    workflow_id character varying NOT NULL,
    step_name character varying NOT NULL,
    step_type character varying NOT NULL,
    status character varying,
    input_json text,
    output_json text,
    retry_count integer,
    error_message text,
    started_at timestamp without time zone,
    completed_at timestamp without time zone
);


ALTER TABLE public.workflow_steps OWNER TO swarm;

--
-- Name: workflows; Type: TABLE; Schema: public; Owner: swarm
--

CREATE TABLE public.workflows (
    id character varying NOT NULL,
    name character varying NOT NULL,
    company_id character varying,
    status character varying,
    current_step integer,
    steps_json text NOT NULL,
    error_message text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    completed_at timestamp without time zone
);


ALTER TABLE public.workflows OWNER TO swarm;

--
-- Data for Name: api_keys; Type: TABLE DATA; Schema: public; Owner: swarm
--

COPY public.api_keys (id, key, user_id, name, scope, is_active, last_used_at, expires_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: company_tenants; Type: TABLE DATA; Schema: public; Owner: swarm
--



--
-- Data for Name: deployments; Type: TABLE DATA; Schema: public; Owner: swarm
--

COPY public.deployments (id, tenant_id, status, strategy, version, metadata_json, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: leads; Type: TABLE DATA; Schema: public; Owner: swarm
--



--
-- Data for Name: message_threads; Type: TABLE DATA; Schema: public; Owner: swarm
--

COPY public.message_threads (id, subject, participants_json, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: swarm
--

COPY public.messages (id, thread_id, sender_id, content, is_read, created_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: swarm
--

COPY public.notifications (id, user_id, type, title, message, is_read, metadata_json, created_at) FROM stdin;
\.


--
-- Data for Name: ticket_comments; Type: TABLE DATA; Schema: public; Owner: swarm
--

COPY public.ticket_comments (id, ticket_id, user_id, content, created_at) FROM stdin;
\.


--
-- Data for Name: ticket_history; Type: TABLE DATA; Schema: public; Owner: swarm
--



--
-- Data for Name: tickets; Type: TABLE DATA; Schema: public; Owner: swarm
--



--
-- Data for Name: usage_events; Type: TABLE DATA; Schema: public; Owner: swarm
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: swarm
--

COPY public.users (id, email, password_hash, full_name, role, subscription_tier, is_active, created_at, updated_at) FROM stdin;
c2d90f51-79c6-4137-8f3f-f0a6c80a8968	robertdemottojr83@gmail.com	$2b$12$wKl4UjcFTlDODsP/QbdupuVgoY/OXR1qoGb7DsQHYnAuP312Qe6ey	Robert Demotto Jr	admin	free	t	2026-07-17 19:31:06.154301	2026-07-17 19:31:06.173248
\.


--
-- Data for Name: workflow_steps; Type: TABLE DATA; Schema: public; Owner: swarm
--

COPY public.workflow_steps (id, workflow_id, step_name, step_type, status, input_json, output_json, retry_count, error_message, started_at, completed_at) FROM stdin;
\.


--
-- Data for Name: workflows; Type: TABLE DATA; Schema: public; Owner: swarm
--

COPY public.workflows (id, name, company_id, status, current_step, steps_json, error_message, created_at, updated_at, completed_at) FROM stdin;
\.


--
-- Name: api_keys api_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.api_keys
    ADD CONSTRAINT api_keys_pkey PRIMARY KEY (id);


--
-- Name: company_tenants company_tenants_pkey; Type: CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.company_tenants
    ADD CONSTRAINT company_tenants_pkey PRIMARY KEY (id);


--
-- Name: deployments deployments_pkey; Type: CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.deployments
    ADD CONSTRAINT deployments_pkey PRIMARY KEY (id);


--
-- Name: leads leads_pkey; Type: CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_pkey PRIMARY KEY (id);


--
-- Name: message_threads message_threads_pkey; Type: CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.message_threads
    ADD CONSTRAINT message_threads_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: ticket_comments ticket_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.ticket_comments
    ADD CONSTRAINT ticket_comments_pkey PRIMARY KEY (id);


--
-- Name: ticket_history ticket_history_pkey; Type: CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.ticket_history
    ADD CONSTRAINT ticket_history_pkey PRIMARY KEY (id);


--
-- Name: tickets tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_pkey PRIMARY KEY (id);


--
-- Name: usage_events usage_events_pkey; Type: CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.usage_events
    ADD CONSTRAINT usage_events_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: workflow_steps workflow_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.workflow_steps
    ADD CONSTRAINT workflow_steps_pkey PRIMARY KEY (id);


--
-- Name: workflows workflows_pkey; Type: CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.workflows
    ADD CONSTRAINT workflows_pkey PRIMARY KEY (id);


--
-- Name: ix_api_keys_key; Type: INDEX; Schema: public; Owner: swarm
--

CREATE UNIQUE INDEX ix_api_keys_key ON public.api_keys USING btree (key);


--
-- Name: ix_api_keys_user_id; Type: INDEX; Schema: public; Owner: swarm
--

CREATE INDEX ix_api_keys_user_id ON public.api_keys USING btree (user_id);


--
-- Name: ix_company_tenants_slug; Type: INDEX; Schema: public; Owner: swarm
--

CREATE UNIQUE INDEX ix_company_tenants_slug ON public.company_tenants USING btree (slug);


--
-- Name: ix_company_tenants_subdomain; Type: INDEX; Schema: public; Owner: swarm
--

CREATE UNIQUE INDEX ix_company_tenants_subdomain ON public.company_tenants USING btree (subdomain);


--
-- Name: ix_deployments_tenant_id; Type: INDEX; Schema: public; Owner: swarm
--

CREATE INDEX ix_deployments_tenant_id ON public.deployments USING btree (tenant_id);


--
-- Name: ix_leads_email; Type: INDEX; Schema: public; Owner: swarm
--

CREATE INDEX ix_leads_email ON public.leads USING btree (email);


--
-- Name: ix_messages_thread_id; Type: INDEX; Schema: public; Owner: swarm
--

CREATE INDEX ix_messages_thread_id ON public.messages USING btree (thread_id);


--
-- Name: ix_notifications_user_id; Type: INDEX; Schema: public; Owner: swarm
--

CREATE INDEX ix_notifications_user_id ON public.notifications USING btree (user_id);


--
-- Name: ix_ticket_comments_ticket_id; Type: INDEX; Schema: public; Owner: swarm
--

CREATE INDEX ix_ticket_comments_ticket_id ON public.ticket_comments USING btree (ticket_id);


--
-- Name: ix_ticket_history_ticket_id; Type: INDEX; Schema: public; Owner: swarm
--

CREATE INDEX ix_ticket_history_ticket_id ON public.ticket_history USING btree (ticket_id);


--
-- Name: ix_tickets_project_id; Type: INDEX; Schema: public; Owner: swarm
--

CREATE INDEX ix_tickets_project_id ON public.tickets USING btree (project_id);


--
-- Name: ix_usage_events_project_id; Type: INDEX; Schema: public; Owner: swarm
--

CREATE INDEX ix_usage_events_project_id ON public.usage_events USING btree (project_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: swarm
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_workflow_steps_workflow_id; Type: INDEX; Schema: public; Owner: swarm
--

CREATE INDEX ix_workflow_steps_workflow_id ON public.workflow_steps USING btree (workflow_id);


--
-- Name: api_keys api_keys_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.api_keys
    ADD CONSTRAINT api_keys_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: deployments deployments_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.deployments
    ADD CONSTRAINT deployments_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.company_tenants(id);


--
-- Name: messages messages_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: messages messages_thread_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_thread_id_fkey FOREIGN KEY (thread_id) REFERENCES public.message_threads(id);


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: ticket_comments ticket_comments_ticket_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.ticket_comments
    ADD CONSTRAINT ticket_comments_ticket_id_fkey FOREIGN KEY (ticket_id) REFERENCES public.tickets(id);


--
-- Name: ticket_comments ticket_comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.ticket_comments
    ADD CONSTRAINT ticket_comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: ticket_history ticket_history_ticket_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.ticket_history
    ADD CONSTRAINT ticket_history_ticket_id_fkey FOREIGN KEY (ticket_id) REFERENCES public.tickets(id);


--
-- Name: ticket_history ticket_history_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.ticket_history
    ADD CONSTRAINT ticket_history_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: tickets tickets_assignee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_assignee_id_fkey FOREIGN KEY (assignee_id) REFERENCES public.users(id);


--
-- Name: tickets tickets_parent_ticket_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_parent_ticket_id_fkey FOREIGN KEY (parent_ticket_id) REFERENCES public.tickets(id);


--
-- Name: tickets tickets_reporter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_reporter_id_fkey FOREIGN KEY (reporter_id) REFERENCES public.users(id);


--
-- Name: workflow_steps workflow_steps_workflow_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.workflow_steps
    ADD CONSTRAINT workflow_steps_workflow_id_fkey FOREIGN KEY (workflow_id) REFERENCES public.workflows(id);


--
-- Name: workflows workflows_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: swarm
--

ALTER TABLE ONLY public.workflows
    ADD CONSTRAINT workflows_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.company_tenants(id);


--
-- PostgreSQL database dump complete
--

\unrestrict BJ7SrKNIAMmEm7TooMcEt1zjzBCJvjnhyCxWsH5ZXXMVvwWzHdaDTzxwSAW3JKu

